{% extends 'base.html.twig' %}

{% block title %}Cadastrar aluno{% endblock %}

{% block body %}

<form name="form_cadastro" method="post" action="{{path('cadastrar')}}">
    <div>
        <input type="text" name="nome" placeholder="Seu nome" required>
        <input type="date" name="nascimento" placeholder="Sua data de nascimento">
        <button type="submit">Registrar</button>
    </div>
</form>

{% endblock %}
